<div class="card-body">
    <div class="row row-cols-2 d-flex justify-content-center">
        <button class="col btn m-2 reponse" *ngFor="let reponse of reponses; let j = index" 
        [disabled]="quizEstTermine" 
        (click)="ajouteReponse(reponse?.reponse, questionId)" 
        [class.btn-dark]="questionEstSelectionee(reponse?.reponse, questionId)" 
        [class.btn-outline-dark]="questionEstPasSelectionee(reponse?.reponse, questionId)"
        [appLettreReponse]="getLettreReponse(j)">
        {{reponse?.reponse}}
      </button>
    </div>
    <div class="elapsed-time">
      Temps écoulé : {{ elapsedTime | timeFormat }}
    </div>
</div>